<nav
  class="navbar navbar-expand-lg navbar-light bg-light pb-3 pt-4 fixed-top dark_navbar"
>
  <div class="container d-flex align-items-center">
    <a class="navbar-brand" href="{% url 'index' %}">
      <h4 class="navbar_title">
        KC Property <span class="navbar_title_span">Stock</span>
      </h4>
    </a>
    <button
      class="navbar-toggler"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    >
      <i class="bi bi-list text-light navbar_menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active navbar_links d-flex align-items-center gap-1"
            aria-current="page"
            href="{% url 'index' %}"
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'about-us' %}"
            >About
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'sellers' %}"
            >List Property
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'rental-agent' %}"
            >List Rentals
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'private-properties' %}"
            >Private Properties
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'property-areas' %}"
            >Property Areas
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="{% url 'services' %}"
            >Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_links" href="{% url 'contact-us' %}"
            >Contact Us</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <a href="{% url 'contact-us' %}">
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-3"
          >
            Get In Touch<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Offcanvas  -->
<div
  class="offcanvas offcanvas-start offcanvas_background"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body offcanvas_background">
    <center>
      <h1 class="menu_title mb-5">
        KC Property <span class="menu_sub_title">Stock</span>
      </h1>
      <a href="{% url 'index' %}">
        <h6 class="menu_title">Home</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'about-us' %}">
        <h6 class="menu_title">About Us</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'sellers' %}">
        <h6 class="menu_title">List Property</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'rental-agent'%}">
        <h6 class="menu_title">List Rentals</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'private-properties' %}">
        <h6 class="menu_title">Private Properties</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'property-areas' %}">
        <h6 class="menu_title">Property Areas</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'services' %}">
        <h6 class="menu_title">Services</h6>
      </a>
      <hr class="my-4 mx-3" />
      <a href="{% url 'contact-us' %}">
        <h6 class="menu_title">Contact Us</h6>
      </a>
      <hr class="my-4 mx-3" />
    </center>
  </div>
</div>
