<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar_style pb-3 pt-4 fixed-top bg-transparent"
>
  <div class="container d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <h4 class="navbar_title">
        KC Property <span class="navbar_title_span">Stock</span>
      </h4>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list text-light navbar_menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active navbar_links d-flex align-items-center gap-1"
            aria-current="page"
            href="#"
            >Home <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="#"
            >About <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="#"
            >List Property <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="#"
            >List Rental <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="#"
            >Properties <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link navbar_links d-flex align-items-center gap-1"
            href="#"
            >Services <i class="bi bi-chevron-down nav_link_icon"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_links" href="#">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-3"
        >
          Get In Touch<i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
