{% load static %}
<!-- ======= Navbar  ======= -->
<section>
  <div>{% include 'partials/dark_navbar.html' %}</div>
</section>

<!-- ======= Header Container  ======= -->
<section class="page_header_container overflow_content">
  <center>
    <h1
      class="header_title"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Contact Us
    </h1>
  </center>
</section>

<!-- ======= About Header Section  ======= -->
<section class="container section_spacing overflow_content">
  <center>
    <h1
      class="about_title mb-3"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Get
      <span class="about_secondary_title">in Touch</span>
    </h1>
    <p
      class="section_sub_title mb-4 text-uppercase"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      We’re Here to Help You Find the Right Real Estate Agency
    </p>
  </center>
</section>

<!-- ======= Contact Cards  ======= -->
<section class="container-fluid mt-5">
  <div class="row overflow_content">
    <div
      class="col-12 col-md-6 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="services_page_card h-100 border px-3 py-5">
        <center>
          <div class="service_icon_container">
            <span class="material-symbols-outlined service_icon"> call </span>
          </div>
          <h5 class="services_page_title mt-4 mb-3">Contact Number</h5>
          <p class="text-secondary contact_p_tags">Mobile : ( 061 ) 480 9173</p>
        </center>
      </div>
    </div>
    <!-- end card item  -->
    <div
      class="col-12 col-md-6 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="services_page_card h-100 border px-3 py-5">
        <center>
          <div class="service_icon_container">
            <span class="material-symbols-outlined service_icon">
              attach_email
            </span>
          </div>
          <h5 class="services_page_title mt-4 mb-3">Support email</h5>
          <p class="text-secondary contact_p_tags">example@kcpropertystock</p>
        </center>
      </div>
    </div>
    <!-- end card item  -->
    <div
      class="col-12 col-md-6 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="services_page_card h-100 border px-3 py-5">
        <center>
          <div class="service_icon_container">
            <span class="material-symbols-outlined service_icon">
              location_on
            </span>
          </div>
          <h5 class="services_page_title mt-4 mb-3">Office Address</h5>
          <p class="text-secondary contact_p_tags mb-1">12 Lorem, ipsum.</p>
          <p class="text-secondary contact_p_tags mb-0">Lorem, ipsum.</p>
        </center>
      </div>
    </div>
    <!-- end card item  -->
    <div
      class="col-12 col-md-6 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div class="services_page_card h-100 border px-3 py-5">
        <center>
          <div class="service_icon_container">
            <span class="material-symbols-outlined service_icon">
              calendar_clock
            </span>
          </div>
          <h5 class="services_page_title mt-4 mb-3">Working Days</h5>
          <p class="text-secondary contact_p_tags mb-1">
            Mon to Fri - 09:00am To 06:00pm
          </p>
          <p class="text-secondary contact_p_tags mb-0">
            Saturday to Sunday - Closed
          </p>
        </center>
      </div>
    </div>
    <!-- end card item  -->
  </div>
</section>

<!-- ======= Contact From  ======= -->
<section class="container section_spacing">
  <div class="row">
    <div class="col-12 col-md-6 mb-4 overflow_content">
      <p
        class="section_sub_title mb-3 text-uppercase"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        Connect with Us
      </p>
      <h1
        class="about_title mb-4"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        Have
        <span class="about_secondary_title">Questions?</span>
      </h1>
      <p
        class="text-secondary"
        data-aos="fade-right"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        Have questions or ready to get started? Reach out to the KC Property
        Stock team today. Whether you’re selling, renting, or exploring your
        options, we’ll guide you to the best real estate agency for your needs.
      </p>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <div class="row overflow_content">
        <div class="col-12 col-md-6">
          <div
            class="form-floating mb-3"
            data-aos="zoom-in"
            data-aos-delay="50"
            data-aos-duration="1000"
          >
            <input
              type="text"
              class="form-control form_style rounded-pill"
              id="floatingInput"
              placeholder="Full Name"
            />
            <label for="floatingInput">Full Name</label>
          </div>
        </div>
        <!-- end input item  -->
        <div class="col-12 col-md-6">
          <div
            class="form-floating mb-3"
            data-aos="zoom-in"
            data-aos-delay="50"
            data-aos-duration="1000"
          >
            <input
              type="number"
              class="form-control form_style rounded-pill"
              id="floatingInput"
              placeholder="Phone Number"
            />
            <label for="floatingInput">Phone Number</label>
          </div>
        </div>
        <!-- end input item  -->
        <div class="col-12">
          <div
            class="form-floating mb-3"
            data-aos="zoom-in"
            data-aos-delay="50"
            data-aos-duration="1000"
          >
            <input
              type="email"
              class="form-control form_style rounded-pill"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <!-- end input  -->
        </div>
        <div class="col-12">
          <div
            class="form-floating"
            data-aos="zoom-in"
            data-aos-delay="50"
            data-aos-duration="1000"
          >
            <textarea
              class="form-control"
              placeholder="Message here"
              id="floatingTextarea2"
              style="height: 150px; border-radius: 20px"
            ></textarea>
            <label for="floatingTextarea2">Message Here</label>
          </div>
        </div>
      </div>
      <button
        class="btn btn-dark dark_primary_btn d-flex gap-2 mt-4 rounded-pill px-3"
        data-aos="zoom-in"
        data-aos-delay="50"
        data-aos-duration="1000"
      >
        Send Message
        <i class="bi bi-arrow-right-circle-fill" style="color: #00a650"></i>
      </button>
    </div>
  </div>
</section>

<!-- ======= Map  ======= -->
<section class="section_spacing mb-0">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d129416.08081643154!2d28.16818244007367!3d-26.25111949488349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95183780c54717%3A0x433e192b0d3f753d!2sBoksburg!5e1!3m2!1sen!2sza!4v1759651826469!5m2!1sen!2sza"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>

<!-- ======= Footer  ======= -->
<section>
  <div>{% include 'partials/footer.html' %}</div>
</section>
