{% load static %}
<section class="hero_background d-flex align-items-center">
  <!-- ======= Navbar  ======= -->
  <div>{% include 'partials/navbar.html' %}</div>

  <!-- ======= Hero content  ======= -->
  <div class="container" style="padding-top: 100px">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="hero_title center">
          Find Your Ideal
          <span class="hero_title_color d-none">Estate</span> Agency with
          <span class="hero_title_color">KC Property Stock</span>
        </h1>
        <!-- <p class="text-light mt-4 hero_text center">
          KC Property Stock makes it easy for property owners to connect with
          trusted real estate agencies, whether selling or renting.
        </p> -->

        <p class="text-light mt-4 hero_text center">
          KC Property Stock makes it simple for property owners to connect with
          trusted real estate agencies, whether you’re selling or renting.
        </p>

        <div class="row mt-5">
          <div class="col-12 col-md-4 mb-3">
            <button
              type="button"
              class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-4 py-2"
            >
              Find Sales Agent<i class="bi bi-arrow-right-circle-fill"></i>
            </button>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <button
              type="button"
              class="btn btn-light light_btn rounded-pill d-flex align-items-center gap-3 border-0 px-4 py-2"
            >
              Find Rental Agent<i class="bi bi-arrow-right-circle-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= About  ======= -->
<section class="container section_spacing">
  <div class="row">
    <div class="col-12 col-lg-6 mb-4">
      <div class="about_image"></div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
      <p class="section_sub_title mb-4">ABOUT KC PROPERTY STOCK</p>
      <h1 class="section_title mb-4">
        Connecting Sellers & Landlords with
        <span class="title_color">The Right Agents</span>
      </h1>
      <p class="text_color">
        We match property sellers and landlords with real estate agents that fit
        their needs, helping you save time and achieve a smooth, successful sale
        or rental.
      </p>
    </div>
  </div>
</section>

<!-- ======= Services Remove ======= -->
<section class="container section_spacing d-none">
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="service_card h-100 p-4">
        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h5 class="service_title mb-0">Properties for Buyers & Renters</h5>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="service_icon_container">
              <span class="material-symbols-outlined service_icon">
                house
              </span>
            </div>
          </div>
        </div>
        <hr class="my-3" />
        <p class="text_color mt-4 mb-4">
          Browse a wide selection of homes, apartments, and rental properties in
          Dawn Park and surrounding neighborhoods. From first-time buyers to
          growing families, we help you find a property that suits your needs.
        </p>
        <button
          type="button"
          class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-3 py-2"
        >
          View Properties<i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>
    <!-- end card  -->
    <div class="col-12 col-md-4 mb-4">
      <div class="service_card h-100 p-4">
        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h5 class="service_title mb-0">List Your Home for Sale</h5>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="service_icon_container">
              <span class="material-symbols-outlined service_icon">
                real_estate_agent
              </span>
            </div>
          </div>
        </div>
        <hr class="my-3" />
        <p class="text_color mt-4 mb-4">
          Selling your property has never been easier. With KC Property Stock,
          your home gets maximum exposure through our marketing strategies,
          professional listings, and dedicated agents. We connect you with
          serious buyers quickly.
        </p>
        <button
          type="button"
          class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-3 py-2"
        >
          List Property<i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>
    <!-- end card  -->
    <div class="col-12 col-md-4 mb-4">
      <div class="service_card h-100 p-4">
        <div class="row d-flex align-items-center mb-5">
          <div class="col">
            <h5 class="service_title mb-0">List Your Rental Property:</h5>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="service_icon_container">
              <span class="material-symbols-outlined service_icon">
                domain
              </span>
            </div>
          </div>
        </div>
        <hr class="my-3" />
        <p class="text_color mt-4 mb-4">
          If you own rental property, we help you find reliable tenants fast.
          Our team handles marketing, listings, and tenant screening so you can
          enjoy stress-free rental income.
        </p>
        <button
          type="button"
          class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-3 py-2"
        >
          List Rental<i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>
    <!-- end card  -->
  </div>
</section>

<!-- ======= List Property  ======= -->
<section class="section_spacing container-fluid">
  <div class="list_container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mb-4">
          <h1 class="section_title mb-4 text-light">
            Find Your Ideal Agency With
            <span class="title_color">KC Property</span> Stock
          </h1>
          <!-- <h5 class="list_title mb-4 mt-5" >
            Get the Best Value for Your Property
          </h5> -->
          <p class="text-light paragraph_text">
            Complete a quick form. KC Property Stock will recommend real estate
            agents with proven track records, so you can choose the one that
            best fits your needs.
          </p>
          <i class="bi bi-arrow-right-circle-fill list_arrow_icon"></i>
        </div>
        <div class="col-12 col-md-6 mb-4">
          <form action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Full Name"
                  />
                  <label for="floatingInput">Full Name</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Phone Number"
                  />
                  <label for="floatingInput">Phone Number</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <!-- end input  -->
              </div>
              <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Street"
                  />
                  <label for="floatingInput">Street</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Suburb"
                  />
                  <label for="floatingInput">Suburb</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="City/Town"
                  />
                  <label for="floatingInput">City/Town</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Province"
                  />
                  <label for="floatingInput">Province</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Postal Code"
                  />
                  <label for="floatingInput">Postal Code</label>
                </div>
                <!-- end input  -->
              </div>
            </div>
            <center>
              <button
                class="btn btn-dark submit_form_btn mt-4 py-3 rounded-pill d-flex align-items-center d-flex justify-content-center gap-3 border-0"
              >
                Submit <i class="bi bi-arrow-right-circle-fill"></i>
              </button>
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= List Rental Property  ======= -->
<section class="container-fluid section_spacing">
  <div class="review_container" style="border-radius: 10px">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mb-4 order-md-2">
          <h1 class="section_title mb-4">
            List Your <span class="title_color">Rental Property</span> Today
          </h1>
          <h5 class="list_title mb-4 mt-5 dark_blue_text d-none">
            Find the Perfect Tenant with Ease
          </h5>
          <p style="color: #5c5e5e">
            Provide your contact details and property location, and KC Property
            Stock will connect you with ideal letting agencies to help you rent
            your property quickly and securely.
          </p>
          <i
            class="bi bi-arrow-left-circle-fill list_arrow_icon rentals_icon"
          ></i>
        </div>
        <div class="col-12 col-md-6 mb-4 order-md-1">
          <form action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Full Name"
                  />
                  <label for="floatingInput">Full Name</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Phone Number"
                  />
                  <label for="floatingInput">Phone Number</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <!-- end input  -->
              </div>
              <div class="col-12 col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Street"
                  />
                  <label for="floatingInput">Street</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Suburb"
                  />
                  <label for="floatingInput">Suburb</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="City/Town"
                  />
                  <label for="floatingInput">City/Town</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Province"
                  />
                  <label for="floatingInput">Province</label>
                </div>
                <!-- end input  -->
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control form_style"
                    id="floatingInput"
                    placeholder="Postal Code"
                  />
                  <label for="floatingInput">Postal Code</label>
                </div>
                <!-- end input  -->
              </div>
            </div>
            <center>
              <button
                class="btn btn-dark submit_form_btn mt-4 py-3 rounded-pill d-flex align-items-center d-flex justify-content-center gap-3 border-0"
              >
                Submit <i class="bi bi-arrow-right-circle-fill"></i>
              </button>
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Property Listings  ======= -->
<section class="container section_spacing">
  <center>
    <p class="section_sub_title text-uppercase">Find Your Dream Property</p>
    <h1 class="section_title browse_properties mb-5">
      Browse For Sale Homes,
      <span class="title_color">Apartments & Rentals</span> Properties
    </h1>
    <p class="text_color mb-5 d-none">
      Browse our homes for sale and rent, and find your ideal property with
      ease.
    </p>
  </center>

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
    <div class="col-12 col-md-4 col-lg-3 mb-4">
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
  </div>
</section>

<!-- ======= Banner  ======= -->
<section class="section_spacing container-fluid">
  <div class="banner d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <!-- <h1 class="hero_title">
            Let’s Talk
            <span class="hero_title_color">About Your</span> Next Move
          </h1> -->

          <h1 class="hero_title">
            Ready to Get <span class="hero_title_color">Matched?</span>
          </h1>
          <p class="text-light mt-4 hero_text paragraph_text">
            Whether selling or renting, KC Property Stock connects you with the
            right real estate agency. Contact us today to get started.
          </p>

          <div class="row">
            <div class="col-12 col-md-5 col-lg-4 mb-3">
              <button
                type="button"
                class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-3 border-0 px-4 py-2"
              >
                Contact Us<i class="bi bi-arrow-right-circle-fill"></i>
              </button>
            </div>
            <div class="col-12 col-md-5 col-lg-4 mb-3">
              <button
                type="button"
                class="btn btn-light light_btn rounded-pill d-flex align-items-center gap-3 border-0 px-4 py-2"
              >
                061 480 9173<i class="bi bi-arrow-right-circle-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Reviews  ======= -->
<section class="review_container">
  <div class="container">
    <center>
      <p class="section_sub_title text-uppercase">What Our Clients Say</p>
      <h1 class="section_title mb-4">
        Trusted by <span class="title_color">Sellers</span> and Landlords
      </h1>
      <!-- <p class="text_color mb-5">
        At KC Property Stock, client satisfaction is our top priority. Here’s
        what our happy customers have to say about working with us:
      </p> -->
    </center>

    <div class="row" style="margin-top: 70px">
      <div class="col-12 col-md-4 mb-5">
        <div class="service_card h-100 p-4">
          <center>
            <div
              class="service_icon_container review_icon_container mb-4 border border-2 border-light"
            >
              <span class="material-symbols-outlined service_icon"> chat </span>
            </div>
            <p>
              KC Property Stock matched me with an agent who knew the area and
              marketed my house effectively. The process was fast, professional,
              and stress-free.
            </p>

            <hr class="my-5" />
            <h6 class="review_name">Nomsa Dlamini</h6>
          </center>
        </div>
      </div>
      <!-- end col item  -->
      <div class="col-12 col-md-4 mb-5">
        <div class="service_card h-100 p-4">
          <center>
            <div
              class="service_icon_container review_icon_container mb-4 border border-2 border-light"
            >
              <span class="material-symbols-outlined service_icon"> chat </span>
            </div>
            <p>
              They connected me with a reliable letting agency that found a
              qualified tenant in just two weeks. Everything was handled
              professionally and smoothly.
            </p>

            <hr class="my-5" />
            <h6 class="review_name">Lerato Mokoena</h6>
          </center>
        </div>
      </div>
      <!-- end col item  -->
      <div class="col-12 col-md-4 mb-5">
        <div class="service_card h-100 p-4">
          <center>
            <div
              class="service_icon_container review_icon_container mb-4 border border-2 border-light"
            >
              <span class="material-symbols-outlined service_icon"> chat </span>
            </div>
            <p>
              As a first-time seller, KC Property Stock matched me with the
              perfect agent. The whole process was clear, transparent, and
              hassle-free.
            </p>

            <hr class="my-5" />
            <h6 class="review_name">Thabo Nkosi</h6>
          </center>
        </div>
      </div>
      <!-- end col item  -->
    </div>
  </div>
</section>

<!-- ======= Footer  ======= -->
<section>
  <div>{% include 'partials/footer.html' %}</div>
</section>
