{% load static %}
<!-- ======= Navbar  ======= -->
<section>
  <div>{% include 'partials/dark_navbar.html' %}</div>
</section>

<!-- ======= Header Container  ======= -->
<section class="page_header_container overflow_content">
  <center>
    <h1
      class="header_title"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Properties
    </h1>
  </center>
</section>

<!-- ======= About Header Section  ======= -->
<section class="container section_spacing overflow_content">
  <center>
    <p
      class="section_sub_title mb-3 text-uppercase"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Discover Homes for Sale & Rent
    </p>
    <h1
      class="about_title mb-4"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Browse Available
      <span class="about_secondary_title">Properties</span>
    </h1>
  </center>
</section>

<section class="container mt-5">
  <div class="row d-flex justify-content-center overflow_content">
    <div
      class="col-12 col-md-4 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
    <div
      class="col-12 col-md-4 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
    <div
      class="col-12 col-md-4 col-lg-3 mb-4"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      <div>
        <img
          src="{% static '/images/image_03.jpg' %}"
          alt=""
          class="property_image"
        />
        <div class="px-3 property_card py-4">
          <h5 class="property_title">
            <i class="bi bi-geo-alt-fill"></i> Dawn Park,Boksburg
          </h5>
          <p class="text_color">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
            voluptate.
          </p>
          <button
            type="button"
            class="btn btn-dark navbar_btn rounded-pill d-flex align-items-center gap-2 border-0"
            style="font-weight: 400 !important"
          >
            View<i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- end col item  -->
  </div>
</section>

<!-- ======= Contact Banner  ======= -->
<section class="section_spacing container">
  <div>{% include 'partials/contact_banner.html' %}</div>
</section>

<!-- ======= Footer  ======= -->
<section class="section_spacing">
  <div>{% include 'partials/footer.html' %}</div>
</section>
