{% load static %}
<!-- ======= Navbar  ======= -->
<section>
  <div>{% include 'partials/dark_navbar.html' %}</div>
</section>

<!-- ======= Header Container  ======= -->
<section class="page_header_container overflow_content">
  <center>
    <h1
      class="header_title"
      data-aos="fade-right"
      data-aos-delay="50"
      data-aos-duration="1000"
    >
      Property Areas
    </h1>
  </center>
</section>

<!-- ======= Properties Cards  ======= -->
<section class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 mb-3">
      <div class="service_card px-3 py-4">
        <h5 class="mb-0 property_areas_titles">Dawn Park</h5>
      </div>
    </div>
    <!-- end col item  -->
    <div class="col-12 col-md-4 col-lg-3 mb-3">
      <div class="service_card px-3 py-4">
        <h5 class="mb-0 property_areas_titles">Boksburg</h5>
      </div>
    </div>
    <!-- end col item  -->
    <div class="col-12 col-md-4 col-lg-3 mb-3">
      <div class="service_card px-3 py-4">
        <h5 class="mb-0 property_areas_titles">Dalpark</h5>
      </div>
    </div>
    <!-- end col item  -->
    <div class="col-12 col-md-4 col-lg-3 mb-3">
      <div class="service_card px-3 py-4">
        <h5 class="mb-0 property_areas_titles">Brakpan</h5>
      </div>
    </div>
    <!-- end col item  -->
  </div>
</section>
